@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Open+Sans:ital,wght@0,600;1,400&display=swap');
@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";


body{
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: #2F363E;;
}

.main-screen{
    padding:0px var(--horizontal-space);
}